{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <h4>Group Name:{{group_name}}</h4>
  <div
    class="border"
    id="chat_logs"
    style="
      max-height: 500px;
      overflow-y: auto;
      display: flex;
      flex-direction: column-reverse;
    "
  >
    {% for chat in chats %}
    <p class="border">
      {% if request.user == chat.user %}You{% else %}{{chat.user}}{% endif %} :
      {{chat.content}}
    </p>
    {% endfor %}
  </div>
  <br />
  <div class="d-flex">
    <input class="form-control" type="text" id="chat_input" />
    <button class="btn btn-primary" type="submit" id="chat_submit">
      Submit
    </button>
  </div>
  {% comment %} {{group_name|json_script:"group_name"}} {% endcomment %}
</div>
<script>
  let groupName = "{{group_name}}";
  let userName = "{{request.user}}";
  console.log("user requested", "{{request.user}}");
</script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock content %}
